/************************/
/* XL DEVICE */
/************************/
@media (width >= 80rem) {
  /* NAVIGATION */
  .nav-body {
    padding-left: 6rem;
    padding-right: 6rem;
    height: 7rem;
  }
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  .nav-links a,
  li {
    text-decoration: none;
    list-style: none;
    color: #051434;
    font-size: large;
    margin-top: 1rem;
  }
  .logo-body {
    display: flex;
    gap: 1rem;
    color: #051434;
  }
  .logo-name,
  .logo {
    font-size: 30px;
    font-weight: 600;
  }
  .burger-menu {
    display: none;
  }

  /* HERO */
  .hero {
    position: relative;
    z-index: 1;
    height: 550px;
  }
  .hero-body {
    background-color: #fff4dc;
    position: relative;
    height: 500px;
    z-index: 2;
    display: flex;
    flex-direction: row;
  }
  .content1 {
    padding: 2rem;
    height: 100%;
    width: 50%;
    place-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .arrowUp-img {
    display: block;
    position: absolute;
    top: 20%;
    left: 4%;
    width: 80px;
    z-index: -1;
  }
  .hero-body h1 {
    font-weight: 600;
  }
  .image-container {
    background-color: #051434;
    height: 70vh;
    position: absolute;
    bottom: -12%;
    right: 12%;
    width: 30vw;
    z-index: 4;
  }
  .circle {
    background-color: #d4c49c;
    width: 55vw;
    height: 500px;
    border-radius: 50%;
    clip-path: inset(0 0 50% 0);
    position: absolute;
    bottom: -50%;
    right: 0;
    z-index: 3;
  }

  /* COMPANY */
  .company-title {
    font-size: xx-large;
  }
  .company-span {
    font-size: large;
  }
  .compOrg-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem 4rem;
  }
  .comembo-img,
  .makati-img,
  .bcda-img,
  .sscgi-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 200px;
    height: 150px;
  }
  .comembo-img span,
  .makati-img span,
  .bcda-img span,
  .sscgi-img span {
    display: flex;
  }
  /* ABOUT ME */
  .about-paragraph {
    width: 40vw;
    height: 600px;
    font-size: medium;
  }
  .about-paragraph h5 {
    font-size: 35px;
  }

  /* PROJECTS */
  .project-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    width: 350px !important;
    height: 450px !important;
  }
  .card-body {
    display: flex;
    justify-content: center;
  }

  /* CONTACTS */
  .contact-body {
    position: relative;
  }
  .contact-intro {
    width: 50%;
    z-index: 2;
  }
  .contact-intro p {
    font-size: xx-large;
  }
  .form-body {
    right: 5%;
  }
  .contactArrow-img {
    display: flex;
    position: absolute;
    top: 10%;
    left: 2%;
    width: 100px;
    z-index: 1;
  }
}
