/************************/
/* SM DEVICE */
/************************/
@media (width >= 40rem) {
  /* NAVIGATION */
  .nav-body {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 7rem;
  }
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  .nav-links a,
  li {
    text-decoration: none;
    list-style: none;
    color: #051434;
    font-size: medium;
    margin-top: 1rem;
  }
  .logo-body {
    display: flex;
    gap: 1rem;
    color: #051434;
  }
  .logo-name,
  .logo {
    font-size: 20px;
    font-weight: 600;
  }
  .burger-menu {
    display: none;
  }

  /* HERO */
  .hero {
    margin-top: 110px;
    position: relative;
    z-index: 1;
    height: 825px;
  }
  .hero-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #fff4dc;
    height: 750px;
    padding: 2rem;
    position: relative;
    z-index: 2;
  }
  .content1 {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .arrowUp-img {
    display: none;
  }
  .hero-body h1 {
    font-weight: 600;
  }
  .image-container {
    background-color: #051434;
    height: 65vh;
    position: absolute;
    bottom: -10%;
    width: 55vw;
    z-index: 4;
  }
  .circle {
    background-color: #d4c49c;
    width: 95vw;
    height: 500px;
    border-radius: 50%;
    clip-path: inset(0 0 50% 0);
    position: absolute;
    bottom: -33.4%;
    z-index: 3;
  }

  /* COMPANY */
  .compOrg-container {
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  /* ABOUT ME */
  .about-me {
    padding: 4rem;
    background-color: #e6ebe4;
  }
  .about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 4rem;
  }
  .about-img {
    width: 80vw;
    height: 450px;
  }
  .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-img .dot-img {
    display: none;
  }
  .about-paragraph h5 {
    font-weight: 600;
    margin-bottom: 2rem;
  }

  /* PROJECTS */
  .card {
    width: 80%;
  }
}
